@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

a {
    text-decoration: none;
}

/* Header */
.ant-layout-header {
    background: #fff;
    margin: 0;
    padding: 0 40px;
    border-Bottom: 1px solid #eaeaea;
    height: 64px;
}
.ant-layout-header a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.ant-layout-header .ant-menu {
    line-height: 64px;
    width: 400px;
}

.ant-menu-title-content a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.ant-menu-vertical{
    border: none !important;
}

.ant-btn a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

/* End Header */

/* Content */
.ant-layout-content {
    background: #fff;
}

/* Images */
.ant-image-preview-operations {
    display: none;
}

.toggle-group {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.toggle-button {
    flex: 1;
    text-align: center;
    justify-content: center;
    padding: 8px 16px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    user-select: none;
}

.toggle-button .ant-checkbox-inner {
    display: none;
}

.toggle-button.active {
    background-color: #1890ff;
    color: white;
    border-color: #1890ff;
}

.toggle-button:hover {
    background-color: #e6f7ff;
    border-color: #91d5ff;
}
